.app-panel {
	height:100%;
	background-color:#F9F9F9;
	.content-menu {
		margin: 0;
   		padding: 0;
    	list-style: none;
	}
	.block-menu {
		padding: 15px 10px;
    	border-bottom: 1px solid #DDD;
    	a {
    		color: #444;
    		text-decoration: none;
    	}
	}
}