$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_buttons.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_button-groups';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_forms.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_input-groups.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_list-group.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_panels.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_navbar.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_type.scss';
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome.scss';
@import '~weather-icons/css/weather-icons.min.css';

$primary-color: #337ab7;

html, body, #app, .container-fluid, .panel-content, .main, .search_data {
	height:100%;
}
body {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
.app-content {
	height:calc(100% - 52px);
}
.panel-content {
	padding-right: 0;
	box-shadow: 0px 2px 2px 2px #ddd;
	@media (max-width: 768px) {
		display: none;
	}
}
.menu-content{
	display: none;
	background-color: #F9F9F9;
	margin: 0 15px;
	@media (max-width: 768px) {
		display: block;
	}
	.block-menu {
		display: inline-block;
	    width: 50%;
	    text-align: center;
	    padding: 10px;
	    a {
    		color: #444;
    		text-decoration: none;
    		&.active {
    			color: $primary-color;
    			text-decoration: underline;
    		}
    	}
	}
}
.main-content {
	padding-top: 10px;
	height: calc(100%);
	overflow-y: scroll;
	@media (max-width: 768px) {
		height: calc(100% - 38px);
	}
}
.content-date {
	overflow: visible;
	margin-bottom: 15px;
}
.content-slider{
	margin-bottom: 15px;
}
.app-panel {
	height:100%;
	background-color:#F9F9F9;
	.content-menu {
		margin: 0;
   		padding: 0;
    	list-style: none;
	}
	.block-menu {
		padding: 15px 10px;
    	border-bottom: 1px solid #DDD;
    	a {
    		color: #444;
    		text-decoration: none;
    		&.active {
    			color: $primary-color;
    			text-decoration: underline;
    		}
    	}
	}
}
.search_data{
	.panel-map, .panel-videos {
		min-height:640px;
	}
	.panel-videos {
		@media (max-width: 992px) {
			min-height:auto;
		}
	}
}
.analyze_data {
	.content-data {
		margin-bottom: 15px;
		.content-map {
			.block-time {
				font-size: 12px;
			    padding-bottom: 2px;
			    display: inline-block;
			    border-bottom: 1px solid #ddd;
			    margin-bottom: 5px;
			    font-style: italic;
			    color: #666;
			    span {
			    	margin-right: 5px;
			    }
			}
		}
		.block-weather {
			.w-icon{
				font-size: 40px;
				margin-bottom: 10px;
				&.day {
					color: #f0ad4e;
				}
				&.night {
					color: $primary-color;;
				}
			}
			.block-summary {
				@media (max-width: 768px) {
					display: inline-block;
				}
			}
		}
		.content-flex {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 176px;
		}
		.content-weather {
			text-align: center;
			@media (max-width: 768px) {
				display: none;
			}
		}
		.content-w-data {
			background: #f9f9f9;
			font-size: 20px;
			.block-weather-data {
			    width: 100%;
			    .block-weather-line {
			    	display: none;
			    	@media (max-width: 768px) {
					 	display: block;
					}
			    }
			    .single-block {
				    border-bottom: 1px solid #fff;
				    height: 30px;
				    line-height: 30px;
				}
				.block-degrees {
					vertical-align: middle;
				}
				.block-ext{
					font-size: 12px;
				}
			    .w-icon{
			    	font-size: 25px;
			    	width: 30px;
    				text-align: center;
    				margin-right: 5px;
			    	&.hot {
			    		color: #d9534f
			    	}
			    	&.cold {
			    		color: $primary-color;
			    	}
			    }
			}
			@media (max-width: 500px) {
				font-size: 16px;
				.block-weather-data {
					.w-icon{
				    	font-size: 16px;
				    	width: 20px;
				    }
					.block-ext{
						font-size: 10px;
					}
				}
			}
		}
	}
}